
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic');

// Colors
$primary-orange: #de4a20;
$primary-gray: #f5f5f5;

// Main styles
#app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #474747;
  background-color: $primary-gray;
  min-height: calc(100vh - 60px);
  position: relative;
  padding-bottom: 60px;
  &::after {
    display: block;
    height: 70px;
  }
}

a {
  color: $primary-orange;

  &:hover {
    transition: all 0.3s ease;
  }
}

.app-container {
  display: grid;
  grid-template-columns: 10% repeat(8, 1fr) 10%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px;
  padding-bottom: 40px;
}

.block {
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.primary-button {
  width: 204px;
  height: 44px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #fff;
  background-color: $primary-orange;
  border: none;
  outline: none;

  &:hover {
    background-color: darken($primary-orange, 20%);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &:disabled {
    background-color: #4c4c4c;
    color: #fff;
    cursor: default;
  }
}

@media screen and (max-width: 1000px) {
  .app-container {
    display: grid;
    grid-template-columns: 0fr repeat(8, 1fr) 0fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 5px;
    margin-top: 15px;
  }

  .block {
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .primary-button {
    font-size: 14px;
    width: 120px;
  }
}

@media screen and (min-width: 1400px) {
  .app-container {
    grid-template-columns: 20% repeat(8, 1fr) 20%;
  }
}

// TX TABLES STYLES
.table-block {
  grid-column: 2 / 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;

  .txs {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    text-align: left;
    width: 100%;

    .tx {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: $primary-gray;
      margin-bottom: 10px;

      .from {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
      }

      .payload {
        padding-left: 20px;
        word-break: break-all;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: darken($primary-orange, 20%);
      }
    }
  }
}

.table-block-null {
  grid-column: 2 / 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

@media screen and (max-width: 1000px) {
  .tx {
    flex-flow: row wrap;
  }
}