
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic');

// Colors
$primary-orange: #de4a20;
$primary-gray: #f5f5f5;

// Main styles

html {
  background-color: $primary-gray;
}

#app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #474747;
}

a {
  color: $primary-orange;

  &:hover {
    color: darken($primary-orange, 2);
    transition: all 0.3s ease;
  }
}

.block {
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 5px 5px rgba(119, 119, 119, 0.25), 0 5px 5px rgba(97, 97, 97, 0.22);
  }
}

.primary-button {
  width: 204px;
  height: 44px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #fff;
  background-color: $primary-orange;
  border: none;
  outline: none;

  &:hover {
    background-color: darken($primary-orange, 20%);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &:disabled {
    background-color: #4c4c4c;
    color: #fff;
    cursor: default;
  }
}